/* You can add global styles to this file, and also import other style files */
background {
    color: yellow;
    text-decoration-color: aqua;
}

font {
    color: red;
    background-color: blue;
}